.overallCont {
  width: 100%;
}
.menu {
  padding: 0;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 40px;
  background-color: white;
}
.heading {
  background-color: black;
  color: #ffffff;
  margin-bottom: 30px;
  padding: 12px 0;
  grid-column: 1/-1;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 5px;
}
.indFoodItem {
  width: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  margin: 1rem auto;
   
}
@media (min-width: 500px) and (max-width: 658px) {
  .indFoodItem {
    width: 60%;
  
   
  }
}
@media (min-width: 658px) and (max-width: 768px) {
  .indFoodItem {
    width: 85%;
    margin: 1rem 1rem; 
   
  }
}
@media (min-width: 768px) {
  .indFoodItem {
    width: 88%;
    margin: 1rem 1rem; 
   
  }
}
.indFoodItem img {
  width:100%;
  height:12rem;
  border-radius: 15px;
}

.namePriceFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.price {
  color: chocolate;
  font-size: 1.2rem;
}
.itemDetails {
  width: 100%;
  padding: 0.5rem 1rem;
}
.itemDetails button {
  padding: 0.8rem 1.5rem;
  color: white;
  font-size: 1rem;
  background-color: black;
  border-radius: 5px;
  transition: all 200ms linear;
  font-weight: 600;
}
.itemDetails button:hover {
  color: black;

  background-color: grey;
}

