.header {
  width: 100%;
  height: 5rem;
  background-color: #b94517;

  background-size: cover;
  /* background-image: linear-gradient(
    43deg,
    transparent 0%,
    #000000 46%,
    #ffcc70 100%
  ); */

  /* background-color: chocolate; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  position: relative;
}
@media (min-width:768px) {
  .header{
    padding:0 8%;
  }
}
.logodiv {
  display: flex;
  justify-content: space-between;
  width: 17rem;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.logodiv img {
  width: 25%;
}
.logo {
  font-family: "Poppins", cursive;
  font-size: 2rem;
  color: black;
  margin: 0;
  font-weight: 700;
}
@media (min-width:400px) {
  .logo {
    font-size: 2.5rem;
  } 
  .logodiv{
    width: 20rem;
  }
}
nav {
  height: 100%;
}
.ulClass {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: none;
  opacity: 0;
  /* position: relative; */
}
.fas{
  font-size: 2.5rem;
}
.ulMenu {
  position: relative;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  /* position: relative; */
}
.ulMenuSub {
  position: relative;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 1;
  /* position: relative; */
}
.menuHam{

opacity: 1;
padding: 1rem 1rem;
color:black;
width:100%;
display: block;
font-size: 1.5rem;

}
@media (min-width:860px) {
  .ulClass{
    opacity: 1;
    display: flex;
  justify-content: space-evenly;
  align-items: center;
  }
  .ulMenu{
    opacity: 0;
  }
  .ulMenuSub{
    opacity: 0;
  }
  
}

.header li {
  margin: 0 0.1rem;
}

.header a {
  text-decoration: none;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header button:hover {
  /* background-color: #c291e2; */
  color: #38015c;
}
.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: black;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2c0d00;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  position: absolute;
}
.heading {
  position: relative;
  margin-left: 2rem;
}

.badge {
  display: inline-block;
  background-color: black;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
  position: relative;
  color: chocolate;
}

.button:hover .badge,
.button:active .badge {
  background-color: #636363;
}

.bump {
  animation: bump1 600ms ease-out;
}

@keyframes bump1 {
  0% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.liMenu {
  display: relative;
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  color: black;
  font-weight: bold;
  padding: 1.7rem 1.9rem;
  border-radius: 0;
  cursor: pointer;
  margin-left: 0.4rem;
}

/* nav ul li {
  position: relative;
  display: block;
} */
nav ul li ul {
  position: absolute;
  top: 100%;
  display: none;
  list-style: none;
  color: black;
  text-align: center;
  background-color: white;
  z-index: 20;
  font-weight: 500;
  padding: 0.6rem 0;
  animation: displaying 300ms ease-in-out;
  border: 1px solid black;
  border-radius: 4px;
  
}
.ulMenu li ul {
  position: absolute;
  top: 100%;
  display: block;
  list-style: none;
  color: black;
  text-align: center;
  background-color: white;
  z-index: 20;
  font-weight: 500;
  padding: 0.6rem 0;
  transition: transform 0.3s ease-in;
  animation: displaying 300ms ease-in-out;
  border: 1px solid black;
  border-radius: 4px;
  left:-190%;

}
.ulMenuSub li ul {
  position: absolute;
  top: 100%;
  display: block;
  list-style: none;
  color: black;
  text-align: center;
  background-color: white;
  z-index: 20;
  font-weight: 500;
  padding: 0.3rem 0;
  transition: transform 0.3s ease-in;
  animation: displaying 300ms ease-in-out;
  border: 1px solid black;
  border-radius: 4px;
  

}
@media (min-width:380px) {
  .ulMenu li ul {

    left:-180%;
  } 
}
@media (min-width:400px) {
  .ulMenu li ul {

    left:-140%;
  } 
}
@media (min-width:660px) {
  .ulMenu li ul {

    left:-120%;
  } 
}
@media (min-width:768px) {
  .ulMenu li ul {
 
    left:-80%;
  } 
}
.insideLink {
  width: 100%;
  position: relative;
  /* top: 1.3rem; */
  color: black;
  background-color: transparent;
  padding: 0.8rem 0.3rem;
  margin: 0.1rem 0;
  font-weight: 600;

  line-height: 1.5;
}
.insideLink:hover {
  font-weight: 700;
}
nav ul li a {
  /* color: #c291e2; */
  color: white;
  background-color: transparent;

  color: black;
  font-weight: bold;

  cursor: pointer;
}
nav ul li:hover ul {
  display: block;
}

@keyframes displaying {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
nav ul li ul li {
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid grey;
  white-space: nowrap;
}
nav ul li ul li:last-of-type {
  border-bottom: none;
}
nav ul li ul li:hover {
  background-color: rgb(163, 158, 158);
}
nav ul li ul li button {
  border: none !important;
  color: black !important;
  padding: 0 0 !important;
}
nav ul li ul li button:hover {
  background-color: transparent;
}
